.eslintcache
logs/
dist/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

nia-pixel-show-firebase-adminsdk-d7h8l-7a38749b26.json
nia-pixel-show---testes-firebase-adminsdk-8m0ty-ee554cb33c.json
nia-pixel-show-firebase-adminsdk-d7h8l-9cb06f05c1.json

.yarn.lock
